{% extends "Accounts/main.html" %}

{% block content%}
<br>
<div class="row text-center">
    <div class="col">
        <div class="col-md">
            <div class="card">
                  <div class="card-header" style=" background-color:#00bfa5 ;">
                   Customer Contact Information
                  </div>
              <div class="card-body">

                <h6 class="card-title">Email &nbsp;<i class="fa fa-envelope"> {{customer.email}} </i> </h6>

                  <h6 class="card-title">Phone &nbsp;<i class="fa fa-phone"> {{customer.phone}} </i>  </h6>


              </div>
        </div>

        </div>

    </div>
     <div class="col">
        <div class="col-md">
            <div class="card">
                  <div class="card-header" style=" background-color:#00bfa5 ;">
                   Total Order
                  </div>
              <div class="card-body">
                <h5 class="card-title">{{total_order}}</h5>

              </div>
        </div>

        </div>

    </div>
     <div class="col">
        <div class="col-md">
            <div class="card">
                  <div class="card-header" style=" background-color:#00bfa5 ;">
                   Customer
                  </div>
                <div class="card-body">

                 <a href="" class="btn btn-block btn-info ">Update Order</a>
                    <a href="{% url 'create_order' customer.id %}" class="btn btn-block btn-success ">Place Order</a>


              </div>
        </div>

        </div>

    </div>

</div>
<br>
<div class="row d-flex justify-content-center text-center">
    <form class="form-inline" method="GET">
        {{myfilter.form}}
        <input class="form-control block" type="search" placeholder="Search" aria-label="Search"> &nbsp;&nbsp;&nbsp;
         <button class="btn btn-outline-success " type="submit">Search</button>
  </form>
</div>


<hr>
<div class="row d-flex justify-content-center text-center">
    <div class="col-md-11">
        <h1>Product</h1>
        <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Category</th>
                  <th scope="col">Date Created</th>
                     <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
              </thead>
             <tbody>
             {% for o in orders%}
                <tr>

                  <td>{{o.product}}</td>
                  <td>{{o.product.category}}</td>
                  <td>{{o.date_created}}</td>
                    <td>{{o.status}}</td>
                     <td><a href="{% url 'update_order' o.id %}">Update</a></td>
                    <td><a href="{% url 'delete_order' o.id %}">Delete</a></td>
                </tr>
            {%endfor%}
             </tbody>
</table>
     </h1>
</div>
</div>
{% endblock %}