{% extends "Accounts/main.html" %}
{%load static%}
{% block content %}

<div class="mt-5">
    {% include 'Accounts/status.html'%}
</div>

<div class=" mt-5 ">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-5">
            <h3>Customers</h3>

            <a class="btn btn-warning btn-block" href="#" role="button">Create Customer</a>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Customer</th>
                        <th scope="col">Phone</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for c in customers %}
                    <tr>
                        <td><a href="{% url 'customer' c.id%}">View</a></td>
                        <td>{{c.name}}</td>
                        <td>{{c.phone}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-7">
            <h3>Last 5 orders</h3>


            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>

                        <th scope="col">Product</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orders %}
                    <tr>
                        <td>{{o.product}}</td>
                        <td>{{o.date_created}}</td>
                        <td>{{o.status}}</td>
                        <td><a href="{% url 'update_order' o.id %}">Update</a></td>
                        <td><a href="{% url 'delete_order' o.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}