<div class="row text-center">
    <div class="col">
        <div class="col-md">
            <div class="card">
                <div class="card-header" style=" background-color:#00bfa5 ;">
                    Total Orders
                </div>
                <div class="card-body">
                    <h2 class="card-text">{{total_orders}}</h2>

                </div>
            </div>

        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card">
                <div class="card-header" style=" background-color:#00bfa5 ;">
                    Order Delivered
                </div>
                <div class="card-body">
                    <h2 class="card-text">{{delivered}}</h2>
                </div>
            </div>

        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card">
                <div class="card-header" style=" background-color:#00bfa5 ;">
                    Order Pending
                </div>
                <div class="card-body">
                    <h2 class="card-text">{{pending}}</h2>
                </div>
            </div>

        </div>

    </div>
</div>